body {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #F8F8F8;
  font-size: 0.12rem;
  display: -webkit-flex;
  -webkit-flex-direction: column; }

.header {
  width: 100%;
  height: 0.35rem;
  text-align: center;
  line-height: 0.35rem;
  color: #282828;
  background: #ffffff;
  font-size: 0.15rem;
  border-bottom: 1px solid #E3E3E3;
  position: relative; }
  .header .left_i {
    position: absolute;
    left: 0.1rem; }
    .header .left_i > i {
      font-size: 0.2rem; }

.section {
  -webkit-flex: 1;
  overflow-y: scroll; }
  .section .box1 {
    height: 0.38rem;
    text-align: center;
    line-height: 0.38rem;
    background: #ffffff;
    border-bottom: 1px solid #F3F3F3; }
    .section .box1 .sousuo {
      box-sizing: border-box;
      width: 94%;
      margin: 0 3%;
      position: relative; }
      .section .box1 .sousuo span {
        display: inline-block;
        position: absolute;
        left: 0.1rem; }
      .section .box1 .sousuo input {
        width: 100%;
        height: 0.24rem;
        border-radius: 10px;
        border: 0;
        outline: 0;
        background: #F3F3F3;
        color: #C8C8C8;
        text-indent: 0.25rem; }
  .section .box2 {
    height: 0.42rem;
    background: #ffffff;
    margin-top: 0.08rem;
    border-top: 1px solid #F3F3F3;
    border-bottom: 1px solid #F3F3F3; }
    .section .box2 p {
      height: 0.42rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.1rem; }
      .section .box2 p > span:nth-child(1) i {
        color: #2E89FF;
        font-size: 0.16rem;
        padding-right: 0.1rem; }
      .section .box2 p > span:nth-child(1) b {
        display: inline-block;
        font-size: 0.13rem; }
      .section .box2 p > span:nth-child(2) a {
        font-size: 0.1rem;
        color: #8C8C8C; }
      .section .box2 p > span:nth-child(2) i {
        color: #E4E4E4;
        font-size: 0.11rem;
        padding-left: 0.1rem; }
  .section .box3 {
    height: 1.6rem;
    background: #ffffff;
    margin-top: 0.08rem;
    border-top: 1px solid #F3F3F3;
    border-bottom: 1px solid #F3F3F3; }
    .section .box3 .nav {
      width: 100%;
      height: 0.8rem;
      display: -webkit-flex;
      text-align: center; }
      .section .box3 .nav li {
        -webkit-flex: 1;
        height: 0.8rem;
        border: 1px solid #F3F3F3; }
        .section .box3 .nav li i {
          color: #777777;
          font-size: 0.2rem;
          padding-top: 0.23rem; }
        .section .box3 .nav li span {
          display: block;
          color: #A4A4A4;
          padding-top: 0.1rem; }
  .section .box3 .nav:nth-child(1) li:nth-child(1) i {
    color: #AFDD63; }
  .section .box3 .nav:nth-child(1) li:nth-child(2) i {
    color: #FFD66A; }
  .section .box3 .nav:nth-child(1) li:nth-child(3) i {
    color: #DAC3F9; }
  .section .box3 .nav:nth-child(1) li:nth-child(4) i {
    color: #FFD66A; }
  .section .box3 .nav:nth-child(2) li:nth-child(1) i {
    color: #FFC8D1; }
  .section .box3 .nav:nth-child(2) li:nth-child(2) i {
    color: #FFD66A; }
  .section .box3 .nav:nth-child(2) li:nth-child(3) i {
    color: #AFDD63; }
  .section .box3 .nav:nth-child(2) li:nth-child(4) i {
    color: #DEDEDE; }
  .section .box4 {
    height: 1.1rem;
    background: #ffffff;
    margin-top: 0.08rem;
    border-top: 1px solid #F3F3F3;
    border-bottom: 1px solid #F3F3F3; }
    .section .box4 .ul1 {
      display: flex;
      text-align: center;
      padding: 0 0.1rem;
      border-bottom: 1px solid #F3F3F3; }
      .section .box4 .ul1 > li:nth-child(1) {
        color: #5F84BB;
        border-bottom: 2px solid #5F84BB; }
      .section .box4 .ul1 li {
        flex: 1;
        text-align: center;
        line-height: 0.35rem;
        color: #C4C4C4; }
    .section .box4 .ol1 {
      text-align: center;
      line-height: 0.3rem;
      margin: 0.2rem 0.1rem; }
      .section .box4 .ol1 li {
        float: left;
        border: 1px solid #D3D8DB;
        padding: 0 0.1rem;
        border-radius: 20px;
        background: #F4F9FF;
        margin: 0 0.03rem; }
        .section .box4 .ol1 li a {
          color: #ADBDCA; }
  .section .box5 {
    height: 0.77rem;
    background: #ffffff;
    margin-top: 0.08rem;
    border-top: 1px solid #F3F3F3;
    border-bottom: 1px solid #F3F3F3;
    position: relative; }
    .section .box5 .swiper-pagination {
      position: absolute;
      left: 50%;
      bottom: 2px; }
    .section .box5 .swiper-container {
      width: 100%; }
      .section .box5 .swiper-container .swiper-wrapper {
        width: 100%; }
        .section .box5 .swiper-container .swiper-wrapper .swiper-slide {
          width: 33%;
          height: 0.77rem;
          margin-left: 0.1rem; }
          .section .box5 .swiper-container .swiper-wrapper .swiper-slide img {
            width: 100%;
            height: 0.81rem; }
  .section .box6 {
    height: auto;
    background: #ffffff;
    margin-top: 0.08rem;
    border-top: 1px solid #F3F3F3; }
    .section .box6 p {
      margin-left: 0.1rem;
      line-height: 0.33rem;
      font-weight: bold;
      color: #7D7D7D; }
    .section .box6 dl {
      height: 0.82rem;
      border-bottom: 1px solid #F3F3F3;
      display: -webkit-flex; }
      .section .box6 dl dt {
        margin-right: 0.1rem; }
        .section .box6 dl dt img {
          width: 100%;
          height: 100%;
          margin-bottom: 0.1rem; }
      .section .box6 dl dd {
        margin-right: 0.1rem; }
        .section .box6 dl dd h3 {
          word-break: break-all;
          font-size: 0.14rem; }
        .section .box6 dl dd p {
          padding-top: 0.15rem;
          display: flex; }
          .section .box6 dl dd p b {
            width: 0.3rem;
            display: block;
            color: #A7A7A7;
            font-size: 0.1rem;
            margin-right: 0.1rem; }
          .section .box6 dl dd p span {
            display: block;
            color: #C3C3C3;
            font-size: 0.1rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }

.footer {
  height: 0.4rem;
  border-top: 2px solid #E5E5E5;
  background: #F8F8F8; }
  .footer .nav {
    display: -webkit-flex;
    text-align: center; }
    .footer .nav li {
      -webkit-flex: 1; }
      .footer .nav li i {
        color: #777777;
        font-size: 0.14rem;
        padding-top: 0.06rem; }
      .footer .nav li span {
        display: block;
        color: #A4A4A4; }

.footer .nav li:nth-child(2) i {
  color: skyblue; }

.footer .nav li:nth-child(2) span {
  color: skyblue; }

/*# sourceMappingURL=style2.css.map */
